amqp==5.3.1
asgiref==3.8.0
attrs==23.2.0
autobahn==23.6.2
Automat==22.10.0
billiard==4.2.1
celery==5.4.0
cffi==1.16.0
channels==4.0.0
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
constantly==23.10.4
cron-descriptor==1.4.5
cryptography==42.0.5
daphne==4.1.0
Django==5.0.3
django-active-link==0.2.2
django-browser-reload==1.17.0
django-celery-beat==2.7.0
django-celery-results==2.5.1
django-extensions==3.2.3
django-filter==24.3
django-redis-cache==3.0.1
django-timezone-field==7.0
django-widget-tweaks==1.5.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
gunicorn==23.0.0
hyperlink==21.0.0
idna==3.6
incremental==22.10.0
kombu==5.4.2
packaging==24.2
pillow==11.0.0
prompt_toolkit==3.0.48
psycopg2-binary==2.9.10
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
PyJWT==2.10.1
pyOpenSSL==24.1.0
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
redis==3.5.3
ruff==0.8.5
service-identity==24.1.0
six==1.16.0
sqlparse==0.4.4
Twisted==24.3.0
txaio==23.1.1
typing_extensions==4.10.0
tzdata==2024.2
vine==5.1.0
wcwidth==0.2.13
whitenoise==6.8.2
zope.interface==6.2
