{% load static %}
{% load i18n %}
{% load cache %}
{% cache 5000 footer  %}
<footer class="footer bg-body border-top" data-bs-theme="dark">
    <div class="container pb-md-2">

      <!-- Subscribe CTA + Contact link -->
      <div class="d-md-flex align-items-center justify-content-between border-bottom pt-5 pb-4 pb-md-5">
        <div class="d-flex flex-column flex-sm-row align-items-center justify-content-center gap-3 gap-sm-4 mb-4 mb-md-0">
            <div class="d-flex align-items-center">
                <i class="fi-mail fs-4 lh-0 text-body d-none d-sm-block me-2"></i>
                <i class="fi-mail text-body d-sm-none me-2"></i>
                <h6 class="ps-sm-1 mb-0">
                    <span class="h5 d-none d-sm-block mb-0">{% trans "Subscribe to our newsletter" %}</span>
                    <span class="d-sm-none">{% trans "Subscribe to our newsletter" %}</span>
                </h6>
            </div>
            <button type="button" class="btn btn-primary">{% trans "Subscribe" %}</button>
        </div>
        <div class="h5 d-none d-sm-block text-center mb-0">
            <span class="text-body-secondary fw-normal me-3">{% trans "Need help?" %}</span>
            <a class="text-white text-decoration-none hover-effect-underline" href="#!">{% trans "Contact us" %}</a>
        </div>
        <div class="h6 d-sm-none text-center mb-0">
            <span class="text-body-secondary fw-normal me-2">{% trans "Need help?" %}</span>
            <a class="text-white text-decoration-none hover-effect-underline" href="#!">{% trans "Contact us" %}</a>
        </div>
    </div>

      <!-- Logo + Social buttons + Links  -->
      <div class="accordion row pt-4 pt-sm-5 mt-3 mt-sm-0" id="footerLinks">
        <div class="col-md-4 col-lg-5 mb-4 mb-sm-5 mb-md-0">
            <a class="d-inline-flex align-items-center text-dark-emphasis text-decoration-none mb-3" href="index-2.html">
                <span class="flex-shrink-0 text-primary rtl-flip me-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="34">
                        <path d="M34.5 16.894v10.731c0 3.506-2.869 6.375-6.375 6.375H17.5h-.85C7.725 33.575.5 26.138.5 17c0-9.35 7.65-17 17-17s17 7.544 17 16.894z" fill="currentColor"></path>
                        <g fill-rule="evenodd">
                            <path d="M17.5 13.258c-3.101 0-5.655 2.554-5.655 5.655s2.554 5.655 5.655 5.655 5.655-2.554 5.655-5.655-2.554-5.655-5.655-5.655zm-9.433 5.655c0-5.187 4.246-9.433 9.433-9.433s9.433 4.246 9.433 9.433a9.36 9.36 0 0 1-1.569 5.192l2.397 2.397a1.89 1.89 0 0 1 0 2.671 1.89 1.89 0 0 1-2.671 0l-2.397-2.397a9.36 9.36 0 0 1-5.192 1.569c-5.187 0-9.433-4.246-9.433-9.433z" fill="#000" fill-opacity=".05"></path>
                            <g fill="#fff">
                                <path d="M17.394 10.153c-3.723 0-6.741 3.018-6.741 6.741s3.018 6.741 6.741 6.741 6.741-3.018 6.741-6.741-3.018-6.741-6.741-6.741zM7.347 16.894A10.05 10.05 0 0 1 17.394 6.847 10.05 10.05 0 0 1 27.44 16.894 10.05 10.05 0 0 1 17.394 26.94 10.05 10.05 0 0 1 7.347 16.894z"></path>
                                <path d="M23.025 22.525c.645-.645 1.692-.645 2.337 0l3.188 3.188c.645.645.645 1.692 0 2.337s-1.692.645-2.337 0l-3.187-3.187c-.645-.646-.645-1.692 0-2.337z"></path>
                            </g>
                        </g>
                        <path d="M23.662 14.663c2.112 0 3.825-1.713 3.825-3.825s-1.713-3.825-3.825-3.825-3.825 1.713-3.825 3.825 1.713 3.825 3.825 3.825z" fill="#fff"></path>
                        <path fill-rule="evenodd" d="M23.663 8.429a2.41 2.41 0 0 0-2.408 2.408 2.41 2.41 0 0 0 2.408 2.408 2.41 2.41 0 0 0 2.408-2.408 2.41 2.41 0 0 0-2.408-2.408zm-5.242 2.408c0-2.895 2.347-5.242 5.242-5.242s5.242 2.347 5.242 5.242-2.347 5.242-5.242 5.242-5.242-2.347-5.242-5.242z" fill="currentColor"></path>
                    </svg>
                </span>
                <span class="fs-4 fw-semibold">Dowonou</span>
            </a>
            <p class="fs-sm text-body-secondary pt-md-1" style="max-width: 260px">{% trans "Connecting you with reliable  mentors over the world." %}</p>
            <div class="d-flex gap-3 pt-2 pt-md-3">
                <a class="btn btn-icon btn-sm btn-secondary rounded-circle" href="#!" aria-label="{% trans 'Follow us on Instagram' %}">
                    <i class="fi-instagram fs-sm"></i>
                </a>
                <a class="btn btn-icon btn-sm btn-secondary rounded-circle" href="#!" aria-label="{% trans 'Follow us on Facebook' %}">
                    <i class="fi-facebook fs-sm"></i>
                </a>
                <a class="btn btn-icon btn-sm btn-secondary rounded-circle" href="#!" aria-label="{% trans 'Follow us on X (Twitter)' %}">
                    <i class="fi-x fs-sm"></i>
                </a>
            </div>
        </div>
    
        <div class="col-sm-4 col-md-3 col-lg-2 offset-lg-1 ">
            
        </div>
       
    
        <!-- Column with links that are turned into accordion on screens < 500px wide (sm breakpoint) -->
        <div class="col-md-4 col-sm-4  col-lg-2 offset-lg-1 ">
            <div class="accordion-item border-0">
                <h6 class="accordion-header" id="companyLinksHeading">
                    <span class="h5 d-none d-sm-block">{% trans "Company" %}</span>
                    <button type="button" class="accordion-button collapsed py-3 d-sm-none" data-bs-toggle="collapse" data-bs-target="#companyLinks" aria-expanded="false" aria-controls="companyLinks">{% trans "Company" %}</button>
                </h6>
                <div class="accordion-collapse collapse d-sm-block" id="companyLinks" aria-labelledby="companyLinksHeading" data-bs-parent="#footerLinks">
                    <ul class="nav flex-column gap-2 pt-sm-1 pt-lg-2 pb-3 pb-sm-0 mt-n1 mb-1 mb-sm-0">
                        <li class="pt-1">
                            <a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0" href="#!">{% trans "About" %}</a>
                        </li>
                        <li class="pt-1">
                            <a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0" href="#!">{% trans "Press & announcements" %}</a>
                        </li>
                        <li class="pt-1">
                            <a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0" href="#!">{% trans "Careers at Finder" %}</a>
                        </li>
                        <li class="pt-1">
                            <a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0" href="#!">{% trans "Contact us" %}</a>
                        </li>
                        <li class="pt-1">
                            <a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0" href="#!">{% trans "Terms of use" %}</a>
                        </li>
                        <li class="pt-1">
                            <a class="nav-link hover-effect-underline d-inline text-body fw-normal p-0" href="#!">{% trans "Privacy" %}</a>
                        </li>
                    </ul>
                </div>
                <hr class="d-sm-none my-0">
            </div>
        </div>
    </div>

    

      <!-- Copyright + Payment methods -->
      <div class="d-md-flex align-items-center py-4 pt-sm-5 mt-3 mt-sm-0">
        <div class="d-flex gap-2 gap-sm-3 justify-content-center ms-md-auto mb-4 mb-md-0 order-md-2">
            <div>
                <img src="{% static 'main/assets/img/payment-methods/visa-dark-mode.svg' %}" alt="{% trans 'Visa' %}">
            </div>
            <div>
                <img src="{% static 'main/assets/img/payment-methods/mastercard.svg' %}" alt="{% trans 'Mastercard' %}">
            </div>
            <div>
                <img src="{% static 'main/assets/img/payment-methods/paypal-dark-mode.svg' %}" alt="{% trans 'PayPal' %}">
            </div>
            <div>
                <img src="{% static 'main/assets/img/payment-methods/google-pay-dark-mode.svg' %}" alt="{% trans 'Google Pay' %}">
            </div>
            <div>
                <img src="{% static 'main/assets/img/payment-methods/apple-pay-dark-mode.svg' %}" alt="{% trans 'Apple Pay' %}">
            </div>
        </div>
        <p class="text-body-secondary fs-sm text-center text-md-start mb-0 me-md-4 order-md-1">
            {% trans "© All rights reserved. Made by" %} 
            <a class="text-body fw-medium text-decoration-none hover-effect-underline" href="https://Dowonou.com/" target="_blank" rel="noreferrer">Dowonou</a>
        </p>
    </div>
    </div>
  </footer>
{% endcache %}